/* PC */
@media (min-width: 1024px) {

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}

/* Mobile */
@media (max-width: 739px) {
    .s-col-full {
        width: 100%;
    }

    #header {
        overflow: hidden;
    }
    
    #header .search-btn {
        display: none;
    }
    
    #nav {
        display: block;
    }

    #nav li {
        display: block;
    }
    
    #nav li a {
        padding: 1px 24px;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
    }

    #nav .subnav li {
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 40px;
    }

    .mobile-menu-btn {
        display: block;
    }

    .content .member-avatar {
        width: 60%;
    }
}