/* Reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
/* Common  */
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: calc(100%/3);
}
/* clear float item */
.clear {
    clear: both;
}

.white-text {
    color: #fff !important;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.btn {
    background-color: #000;
    color: #fff;
    padding: 8px 12px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #ccc;
    color: #000;
}

/* Main  */
#main {
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav a {
    color: #000;
    display: block;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .search-btn {
    float: right;
    line-height: 46px;
    padding: 0 21px;
}

#header .search-icon {
    font-size: 20px;
    color: #fff;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(/assets/img/slider/chicago.jpg) top center / cover no-repeat;
}

.text-content {
    position: absolute;
    color: #fff;
    bottom: 48px;
    text-align: center;
    /* width: 100%; */
    left: 50%;
    transform: translateX(-50%);
}

.text-heading {
    font-size: 24px;
}

.text-description {
    font-size: 15px;
    margin-top: 25px;
}


#container {

}

.content .content-section {
    width: 800px;
    max-width: 100%;    /* screen dimension < 800px then applied this */
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.content .heading-section {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px;
}

.content .sub-heading-section {
    font-size: 15px;
    margin-top: 25px;
    text-align: center;
    font-style: italic;
    opacity: 0.6;
}

.content .about-text {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

.content .members-list {
    margin-top: 48px;
    /* overflow: hidden; */
    text-align: center;
}

.content .member-item {
    /* float: right;  
    width: calc(100% /3);  */
}

.content .member-name {
    font-size: 15px;
    margin-bottom: 15px;
}

.content .member-avatar {
    width: 154px;
    border-radius: 4px;
}

/* Tour section  */
.tour-section {
    background-color: #000;
}

.tickets-list {
    margin-top: 40px;
    background-color: #fff;
}

.tickets-list li {
    list-style-type: none;
    color: #000;
    border: 1px solid #ddd;
    padding: 10px 16px;
}

.tickets-list .sold-out {
    font-size: 15px;
    padding: 3px 4px;
    background-color: #f44336;
}

.tickets-list .quantity {
    float: right;
    width: 24px;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -4px;
}
/* Place */
.places-list {
    /* overflow: hidden;
    margin: 32px -8px 96px; */
    margin-top: 32px;
    /* margin-bottom: 96px; */
}

.place-item {
    /* float: left; */
    /* width: 33.3333%; */
    /* padding: 0 8px; */
}

.place-image {
    display: block;
    width: 100%;
}

.place-image:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    color: #000;
    padding: 16px;
}

.place-heading {
    font-weight: 550;
}

.place-time {
    margin-top: 15px;
    color: #757575;
    font-style: italic;
}

.place-desc {
    margin-top: 15px;
    margin-bottom: 25px;
}

/* Contact */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
}

.contact-form .form-submit-btn {
    background-color: #000;
    color: #fff;
    padding: 10px 16px;
    float: right;
    border: 1px solid #000;
    outline: none;
}
/* Map section */
.map-section img{
    width: 100%;
    filter: grayscale(50%);
}

/* Footer  */
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list a {
    font-size: 24px;
    color:rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .socials-list i:hover,
#footer .copyright a:hover {
    color: rgba(0, 0, 0, 0.3);
}

#footer .socials-list i{
}

#footer .copyright {
    margin-top: 15px;
    color:rgba(0, 0, 0, 0.6);
}

#footer .copyright a{
    color:rgba(0, 0, 0, 0.6);
}